/* styles/components/ChildrenManage.module.css */
.summaryBox {
  margin-top: 1rem;
  background-color: #f3f4f6;
  border-left: 4px solid var(--main-blue);
  padding: 1rem;
  border-radius: 0.75rem;
  font-size: 0.95rem;
}

.viewButton {
  margin-top: 0.5rem;
  padding: 0.4rem 0.8rem;
  font-weight: 500;
  border: none;
  background-color: var(--main-blue);
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
